* { padding:0; margin:0;}

	html { font-size:100.01%;  }
	body#body { background:#E0E0E0; font-size:13px; font-family: Arial, Helvetica, sans-serif; color:#333;}
	
.clear { clear: both;}

	table, td, div, img { border:0; border-collapse:collapse;}
	td {vertical-align:top;}
	ul, ul li { list-style: none; list-style-image:none;}
	
	p { padding:0px 0px 18px 0px;}
hr {
height: 0px;
border: 1px solid #284898;
}		
a {text-decoration: underline; color:#5B7BCC; outline:none;}
a:hover {text-decoration: none;}
	
	input, select, textarea, html body textarea, .form-file { font-size:12px; font-family: arial; color:#000; vertical-align:middle;}
	input.form-text, select, textarea, .form-file { border:1px solid #8c8c8c; background:#fff; padding:2px 0px 4px 6px;}
	
	.preload {display:none}
	
/*** Main ***/
	.main { /*width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1050)? "1050px" : "100%");*/ min-width:1020px;}
	
	.main { overflow:hidden; height:100%;  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
	
	.main-bg { padding:0px 0px 0px 0px;}
	
	.main-width { width:989px;}
	
	.header { height:138px; padding:0px 30px 0px 20px;}
	
	.follow { float:right; /*padding:4px 0px 0px 10px;*/}
	
	.follow img { margin:0px 5px 0px 0px;}
	
/*** Menu ***/
	.main-menu { clear:both; position:relative; z-index:9999999; background:url(images/blcok.png) repeat 0 0; margin:0px 0px 10px 0px; padding:17px 0px 17px 0px;}
	
	.main-menu ul { list-style: none; list-style-image: none;}
	.main-menu ul li {
		cursor: pointer; line-height:1.1em; padding:0px 1px 0px 0px; border-bottom:1px solid #000;
		}
		
	.main-menu ul li#yui-gen7 { border:0;}
		
	.main-menu ul li.first-of-type { background: none;}
	
	.main-menu ul li a { line-height: normal; display:block; overflow:hidden;
		font-size:13px; color:#fff; padding:12px 10px 11px 30px;
		text-decoration:none; cursor: pointer;
		}
	
	/*:hover*/
		.main-menu ul li:hover a { background:#899ac6;}
		.main-menu ul li.yuimenubaritem-hassubmenu:hover a { background:url(images/marker2.gif) no-repeat 224px 17px #000;}
		
	/*active*/
		.main-menu ul li a.active { background:#0D2663;}
	
		.main-menu ul li.yuimenubaritem-hassubmenu a { background:url(images/marker2.gif) no-repeat 224px 17px;}
		
		.main-menu ul li.yuimenubaritem-hassubmenu ul li a { background: none;}
		.main-menu ul li.yuimenubaritem-hassubmenu:hover ul li a { background: none;}
		
		
		.main-menu ul li.yuimenubaritem-hassubmenu a.active { background:url(images/marker2.gif) no-repeat 224px 17px #000;}
		
	
	/*** drop down ***/
		.main-menu ul ul { position: relative; background:#191919; width:228px;z-index:9999999; padding:0px 0px 0px 0px;}
		.main-menu ul ul li { float:none; background: none; border-bottom:1px solid #252525;}
		
		.main-menu ul ul li a  { float:none; background: none; color:#fff; text-transform:none;background:#191919; color:#929292;}
		.main-menu ul ul li a:hover, .main-menu ul li.yuimenubaritem-hassubmenu ul li a:hover { background:#000; color:#fff;}
		
		.main-menu ul li div {
			position: relative;
			width:228px;
			margin:-40px 0px 0px 0px;
			left:129px!important;
			}
		
		.main-menu ul ul li div {
			position: relative;
			width:228px;
			margin:-40px 0px 0px 0px;
			left:129px!important;
			}
	
/*** Logo ***/
	.logo { float:left; background:#5B7BCC;height:91px;}
	.logo .indent { padding:42px 0px 0px 939px; overflow:hidden; /*height:100%;*/}
	
	.logo h1 { /*float:left;*/ overflow:hidden; position:relative; cursor: pointer; padding:0px 0px 5px 0px;}
	.logo h1.site-name { font-size:25px; font-weight: normal; color:#FFF;padding:20px 0px 0px 280px;text-transform:uppercase;}
	.logo h1.site-name a { text-decoration:none; color:#fff;}
	
	.logo .site_slogan { padding:5px 0px 0px 310px; font-size:15px; color:#FFF; text-transform:uppercase;}

/*** Slogan ***/	
	.slogan {}


/*** Flash ***/
	.flash { width:649px; height:353px; overflow:hidden; margin:0px 0px 10px 0px;}
	/*.flash object { display: none;}*/
	
	
/*** Search ***/
		.search { clear:both; height:47px; background:#0d2663;}
		.search .indent { overflow:hidden; padding:7px 9px 0px 0px;}
		
		.search form { 
			/*float:right; */
			overflow:hidden; 
			/*width:236px; */
			/*height:32px; */
			/*background:#fff;*/
			}
		
		.search .form-text {
			float:left;
			width:190px; border:0; background: transparent;
			font-size:13px; color:#284898;
			padding:2px 0px 3px 6px;
			margin:6px 5px 0px 3px;
			}
		
		.search .form-submit {
			float:left;
			width:17px; height:21px; border:0; margin:6px 0px 0px 6px;
			background:url(images/search.gif) no-repeat 0 0; overflow:hidden; cursor: pointer;
			}
			
		.search .form-submit:hover { text-decoration: none;}
	
	.search .login { float:left; padding:7px 0px 0px 28px; background:url(images/ver.gif) no-repeat right 11px; margin:0px 15px 0px 0px;}
	.search .login a { font-size:12px; color:#fff; text-decoration:none; background:url(images/user.gif) no-repeat 0 4px; padding:0px 22px 0px 12px;}
	.search .login a:hover { text-decoration:underline;}
	
/*** Column ***/
	.content {
		clear:both;
		overflow:hidden; height:100%; padding:0px 0px 91px 0px;
		background:url(images/footer.png) no-repeat 0 bottom;
		}
	
	.content-bg { background:url(images/content-bg.png) repeat-y 0 0;
	}
		
	.content-indent {overflow:hidden; height:100%; padding:0px 0px 0px 0px; padding:36px 41px 0px 30px;}
	
	.column-left {float:left; width:259px; margin:0px 10px 0px 0px;}
	.column-right {float:right; width:259px; margin:0px 0px 0px 10px;}
	
	
/*** Buttom ***/
	.content .form-submit,
	.content .teaser-button, .content .column-center .search-form .form-submit {
		float:left;
		display:block; float:left; overflow:hidden;
		border:0; background:#284898;
		font-size:13px; color:#fff;
		padding:4px 6px 5px 6px;  margin:0px 0px 6px 0px;
		cursor: pointer;
		}
		
	.content .column-center .form-submit { float:left; margin-right:4px;}
	
	/*.content .teaser-button { width:150px; text-align:center;  background:url(images/marker.gif) no-repeat 0 8px; padding:1px 0px 1px 12px;}*/
	
	.teaser-checkbox { padding:0px 0px 5px 0px; }
	
	#edit-clear { margin:6px 0px 0px 0px;}
	
/*** Blocks  ***/
	.block {
		clear:both;
		overflow:hidden; height:100%;
		background:url(images/blcok.png) repeat 0 0;
		padding:0px 0px 0px 0px;
		margin:0px 0px 10px 0px;
		}
	
	.block-bg {
		overflow:hidden; height:100%;
		margin:0px 0px 0px 0px;
		 padding:0px 0px 0px 0px;
		}
		
	.block .title {
		overflow:hidden; height:100%; background:#284898;
		margin:0px 0px 14px 0px;
		}
		
	.block .title h3 {
		overflow:hidden; height:100%;
		font-weight: normal; font-size:18px;
		color:#fff;
		padding:11px 10px 12px 28px; 
		}
	
	.block .indent {
		overflow:hidden; height:100%;
		font-size:13px; color:#b2b2b2;
		padding:10px 20px 17px 30px;
		}
	
	.block-lang_dropdown .indent {
		overflow:hidden; height:100%;
		font-size:13px; color:#b2b2b2;
		padding:0px 0px 0px 0px;
		}
	
	.block ul {
		clear:both; text-align:left;
		/*overflow:hidden; height:100%;*/
		line-height:1.2em;
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		}
	
	.block ul li  {
		overflow:hidden; height:100%;
		list-style:none; list-style-image: none; line-height:1.3em;
		background:url(images/marker3.gif) no-repeat 0 7px;
		font-size:13px; color:#b2b2b2;
		padding:3px 0px 6px 21px;
		margin:0px 0px 0px 0px;
		}
		
	.block ul li a {
		font-size:13px; color:#b2b2b2;
		}
		
	.block ul li a { text-decoration: none;}
	.block ul li a:hover { color:#284898;}
	
	.block .more-link a {
		display:block; float:left; text-align:left;
		line-height:18px;
		color:#fff; font-size:11px;  font-weight: bold; 
		margin:7px 1px 0px 0px; text-indent:7px;
		}
	
	.block ul ul { font-size:100%;}
	
	.content .block ul ul { margin:5px 0px 0px 10px;}
	
	.content .block ul ul li { border:0;}
	
	/*** Search block ***/
		.block-search .form-item label { display: none;}
		.form-item label { padding:0px 0px 0px 0px;}
		
		.block-search form { overflow:hidden; height:100%; padding:0px 0px 0px 5px;}
		.block-search .form-text { width:184px; display:block; padding:4px 0px 5px 6px; margin:0px 0px 5px 0px;}
		
		.block-search .form-submit {
			float:left;
			display:block; float:left; overflow:hidden;
			border:0; background:#284898;
			font-size:13px; color:#fff;
			padding:4px 6px 5px 6px;  margin:0px 0px 6px 0px;
			cursor: pointer;
			}
		
		.block-search .form-submit:hover { text-decoration: none;}
		
	/*** Navigation block ***/		
		#block-user-1 {}
		#block-user-1 ul li a.active { color:#284898; font-weight: bold; text-decoration:none;}
	
	/*** Login Block  ***/
		#block-user-0 {}
		#block-user-0 .indent { padding:10px 0px 14px 30px;}
			
		#block-user-0 #user-login-form { text-align:left; padding:1px 0px 0px 0px;}
		
		#block-user-0 #edit-name-wrapper { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
		#block-user-0 #edit-pass-wrapper  { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}		
		
		#block-user-0 label { display:block; font-size:13px; font-weight:bold; color:#fff; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;}
		#block-user-0 .form-required { color:#fff; margin:0px 0px 0px 0px; display:none;}
		
		#block-user-0 .form-text {
			width:182px;
			border:0;
			background:#fff;
			font-size:12px; font-weight:normal;
			padding:10px 0px 7px 15px; color:#d2d2cb; font-size:12px; font-weight: bold;
			margin:0px 0px 11px 0px;
			}
		
		#block-user-0 #edit-pass { margin-top:-3px;}
		
		.content #block-user-0 .form-submit {
			display:block;
			overflow:hidden; border:0; width:69px;
			background:#284898;
			font-size:13px; color:#fff; font-weight: bold;
			text-transform: uppercase;
			padding:8px 0px 6px 1px;
			margin:10px 0px 0px 0px;
			cursor: pointer;
			}
				
		/*body:nth-of-type() #user-login-form .form-text { padding:2px 0px 0px 5px;}*/
		
		#block-user-0 .item-list { clear:both; margin:0px 0px 0px 0px; padding:17px 0px 12px 0px;}
		#block-user-0 .item-list ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; margin:0px 0px 0px -1px;}
		#block-user-0 .item-list ul li { border:0; padding:0px 0px 4px 0px; background: none;}
		#block-user-0 .item-list ul li a {  padding:0px 0px 0px 0px; color:#fff; font-weight: bold;}
		
		#block-user-0 .item-list ul li a { text-decoration:underline;}
		#block-user-0 .item-list ul li a:hover { text-decoration: none;}

		
		/*** Who's Online ***/
			#block-user-3 {}

			#block-user-3 .item-list { padding:14px 0px 0px 0px;}
			#block-user-3 .item-list h3 { font-size:13px; text-transform: capitalize; color:#fff; padding:0px 0px 6px 0px;}
			
			#block-user-3 .item-list ul { margin:0px 0px 0px 0px; padding:0px 0px 0px 1px;}
			#block-user-3 .item-list ul li { border:0;}
			
			#block-user-3 .item-list ul li a { font-weight: bold; color:; font-size:11px; background:none; padding-left:0;}
		
		/*** Recent blog posts--- ***/
			#block-blog-0 {}
		
/*** Content  ***/
	.column-center { overflow:hidden; height:100%; margin:0px 0px 0px 0px;}
	
	.column-center-bg {overflow:hidden; height:100%; background:#FFF; padding:0px 20px 40px 28px;}
	
	.content-indent.bgnonne { background: none;}
	
	
	.post-left { float:left; width:318px; margin:0px 52px 0px 0px;}
	
	/*** Content wrapper ***/
		.column-center .node {  padding:0px 0px 0px 0px; }
		.column-center .indent { width:100%; overflow:hidden; height:100%; padding:5px 20px 36px 28px; border-bottom:1px solid #1b1b1b; margin:0px -20px 0px -28px; *margin:0px -20px 0px -28px;}
	
	/*** Title wrapper ***/
		.column-center .indent .title {
			overflow:hidden; height:100%;
			padding:0px 0px 0px 0px;
			margin:0px 0px 15px 0px;
			}
		
		.column-center .indent .title h1 {
			overflow:hidden; height:100%;
			font-size:24px; color:#fff; line-height:1em;
			padding:32px 10px 2px 0px;/* font-weight: normal;*/
			}
				
		.column-center .indent .title h1 a { text-decoration:none; color:#284898;}
		.column-center .indent .title h1 a:hover { color:#7991CC;}
		
	/*** Title Tabs wrapper ***/
		.column-center h2 {
			overflow:hidden; height:100%;
			font-size:24px; color:#284898; line-height:1em;
			padding:32px 10px 2px 0px;/* font-weight: normal;*/
			} 
		
		.column-center #tabs-wrapper {
			 padding:0px 0px 0px 0px; margin:0px 0px 10px 0px; border-bottom:1px solid #284898;
			}
		
		.column-center #tabs-wrapper h2 {
			overflow:hidden; height:100%;
			font-size:24px; color:#284898; line-height:1em;
			padding:32px 10px 12px 0px;/* font-weight: normal;*/
			}
		
		.column-center #tabs-wrapper h2.with-tabs {}
		
	/*** Date ***/
		.column-center .date {
			overflow:hidden; background: none;
			font-size:11px; /*font-weight:bold;*/
			color:#284898; 
			padding:2px 0px 3px 2px; margin:0px 0px 0px 0px;
			}
		
		.column-center .date a { text-decoration:none; color:#284898;}
		.column-center .date a:hover { text-decoration: underline;}
			
	/*** Paragraf ***/
		.item-list ul li { list-style-image:none; list-style:none;}
		.column-center .item-list { padding:6px 0px 0px 0px;}
		.column-center .item-list ul { margin:0px 0px 6px 0px; padding:0px 0px 0px 0px;}
		.column-center .item-list ul li { font-size:12px; background: none; padding:0px 0px 6px 0px; margin:0px 0px 0px 0px;}
		.column-center .item-list ul li a { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
		
	/*** Text box ***/
		.text-box {
			clear:both;
			overflow:hidden; height:100%;
			font-size:13px; line-height:1.3em;
			padding:7px 20px 0px 2px;
			}
		
		.text-box p { padding:0px 0px 18px 0px;}
		
		
		.text-box p a { font-weight: bold; padding:0px 0px 0px 2px;}
		.text-box p span { color:#585858;}
		
		.fleft {  margin:0px 5px 0px 0px; position:relative; z-index:1; padding:0px 0px 0px 0px; display: inline; float:left; overflow:hidden; height:100%;}
		.fleft img { margin:0px 0px 0px 0px;}
		
		.text-box img { border:2px solid #fff;}

		.text-box .img { padding:0px 0px 24px 0px;}
		
	/******/
		.column-center .post-links { clear:both;
			float:left;
			padding:6px 0px 0px 2px;
			margin:0px 0px 0px 0px;
			}
			
		.column-center .post-links ul.links {
			float:left;
			padding:0px 0px 0px 0px;
			}
		.column-center .post-links ul.links li {
			float:left; background: none;
			padding:0px 0px 0px 0px; margin:0px 7px 5px 0px;
			}
		
		.column-center .post-links ul.links li a {
			display:block; height:100%; float:left; text-transform: capitalize;
			font-size:13px; color:#284898;
			}
		
		.column-center .post-links ul.links li a:hover { color:#fff;}
		/*.column-center .post-links ul.links li a { text-decoration:none;}
		.column-center .post-links ul.links li a:hover { text-decoration:underline;*}/
		
	/*******/
		.text-box h1, .text-box h2, .text-box h3, .text-box h4, .text-box h5, .text-box h6 { color:#284898; font-family:Arial; line-height:1.5em;}
		.text-box h1 { font-size:18px; font-weight: normal; line-height:1.1em;}
		.text-box h2 { font-size:17px; font-weight: normal;}
		.text-box h3 { font-size:16px;}
		.text-box h4 { font-size:21px; font-weight: normal;}
		.text-box h5 { font-size:14px;}
		.text-box h6 { font-size:12px;}
	
	/*** OL UL style***/
		.text-box ul { padding:0px 0px 18px 0px; overflow:hidden; height:100%;}
		.text-box ul li { background:url(images/marker.gif) no-repeat 0 5px; padding:0px 0px 8px 17px; list-style-image:none; list-style:none; font-weight:normal;}
		.text-box ul li ul { margin-left:10px;}
		.text-box ul li ol { margin-left:15px;}
		.text-box ul li ol li { list-style-type:decimal;}
		
		.text-box ol { padding-left:2px;}
		.text-box ol li { padding:0px; margin-left:13px;  font-weight:normal;list-style-type:decimal;}
		.text-box ol li ul { padding:2px 0px 5px 2px;}
		.text-box ol li ul li { font-weight:normal; background:url(images/marker.gif) no-repeat 0 8px; padding:0px 0px 2px 10px;}
		
		.text-box ul li { list-style-image:none; list-style:none;}
		
		.text-box ul li a { /*text-decoration:none; */}
		/*.text-box ul li a:hover { text-decoration:underline;}*/
		

		.text-box ul li ul { margin-left:15px;}
		.text-box ul li ol {margin-left:20px;}
		.text-box ul li ol li { list-style-type:decimal;background:none;}
		.text-box ul li ol li a {}
		
		.text-box ol { padding:5px 0px 5px 2px;}
		.text-box ol li{ padding:0px; margin-left:20px;}
		.text-box ol li a { padding-left:0px; text-decoration:none; font-weight:normal;}
		.text-box ol li a:hover{ text-decoration:underline; }
		.text-box ol li ul li a { font-weight:normal; text-decoration:underline;}
		.text-box ol li ul li a:hover {text-decoration:none;}

/*** Footer ****/
	.footer {
		clear:both;	overflow:hidden; height:100%;
		font-size:13px; color:#FFF;
		line-height:1.2em; padding:0px 0px 0px 0px;
		}
	
	.footer .indent {
		overflow:hidden; height:100%; background:#0D2663;
		padding:13px 0px 15px 40px;
		}
	
	.footer a { color:#fff;}

		.footer a { text-decoration:none;}
		.footer a:hover { text-decoration: underline;}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*** Custom content ****/
	
	
	
	
	.container-inline { padding:0px 0px 0px 0px; overflow:hidden; height:100%;}
	.container-inline a { display:block; float:left; font-weight: bold; margin:4px 0px 0px 15px;}
	
				
/*** FROUM ***/
	#forum	{ padding:10px 0px 0px 0px;}
	
	.column-center #forum ul.links { padding:0px 0px 12px 0px;}
	.column-center #forum ul.links li { font-size:12px;}
	.column-center #forum ul.links li a { font-size:12px; color:#fff; font-weight: bold;}
	
	#forum table {
		border:1px solid #000;
		border-right:none;
	}
	#forum th	{
		padding:4px 0px 4px 3px;
		border-right:1px solid #000;
	}
	#forum a {
		color:;
		}
	
	#forum th a {
		color:#fff;
		}
		
	#forum td	{
		padding-top:4px; 
		padding-bottom:4px;color:;
	}
	#forum .description { color:;}
	
	#forum .forum .description { color:; font-size:11px;}
	
	#forum td.container	{
		border-right:1px solid #000;
		border-bottom:1px solid #000;
	}
	#forum td.container	a{
		color:; 
		padding:0px 0px 0px 10px;
	}
	
	#forum td.forum,
	#forum td.topics,
	#forum td.posts,
	#forum td.last-reply,
	#forum td.icon,
	#forum td.title,
	#forum td.replies,
	#forum td.created {
		border-right:1px solid #000;
		border-bottom:1px solid #000;
	}
	#forum .last-reply,
	#forum .title,
	#forum .created,
	#forum .icon  {
		padding-left:5px
	}
	
	#forum .odd {
		border-bottom:1px solid #000;
		border-top:1px solid #000;
		background:#000;
	}
	
	#forum div.indent { margin:0px 0px 0px 0px; background: none; padding:0px 0px 0px 0px; border:0;}
	
	#forum .odd, #forum .even { border-bottom:1px solid #000; }
	#forum thead th { border-bottom:1px solid #000; color:#fff; background:#191919;}


/*** Help ***/
	#help { font-size:12px;}
	#help { padding:10px 0px 0px 0px;}
	
/*** contact ***/
	#contact-mail-page { font-size:12px;}
	

/*** ****/
	/*.search-results { font-size:14px;}*/
	.column-center .search-info { font-size:11px; font-weight: bold;}


/* CSS Document */
	ul, ul li { list-style:none; list-style-image:none; list-style-type:none;}
	
	table {border-collapse:collapse; border:0px;}
	td { vertical-align:top; padding:0px;}
	
	tbody { border:none;}
	
	img, a img { border:0;}
	
	.clear { clear:both;}
	
	fieldset { clear:both; border:1px solid #252525; overflow:hidden; position:relative; font-size:12px; padding:5px 10px 5px 15px;}
	fieldset legend { color:#fff; margin:0px 0px 0px 0px; padding:5px 10px 5px 0px;}
	
	html.js fieldset.collapsed legend { display:inline; padding-left:1px;}
	fieldset.collapsed {}
	
	fieldset a { color:;}
	fieldset .tips { font-size:12px;}
	
	table.system-status-report th, thead th { border-bottom:1px solid #000; color:#fff; font-size:13px; }
	thead th, th, tr.even, tr.odd { padding:0px; border-bottom:1px solid #000;}
	
	tr.even a, tr.odd a { color:#284898;}

/*** Breadcrumb ***/
	.breadcrumb {  text-align:left; font-size:14px; font-weight:normal; color:#484848; padding:20px 55px 2px 28px;}
	.breadcrumb a {text-decoration:none; text-transform:none; vertical-align:middle; font-weight:normal; color:#484848; padding:0px 2px 0px 2px;}
	.breadcrumb a:hover { text-decoration:underline; color:#000;}

/*** --CORNERS-- ***/
	/*div.block { margin-bottom:0px; color:#363638; position:relative; overflow:hidden; width:100%; background:url(images/bg-block.gif) left repeat-y }
	.block .content { padding:11px 21px 25px 27px; overflow:hidden; background:url(images/block-bot3.gif) bottom left no-repeat;}*/
	
	.clear-block { padding:0px 20px 10px 0px;}
	.admin { overflow:hidden; height:100%; /*float:left;*/ padding:0px 0px 10px 0px;}
	.admin .clear-block { padding:0px;}

	h4 {color:#fff; font-size:22px; font-weight:normal; padding-bottom:10px; padding-top:10px;}
	
	.list, .list2 { margin-right:3px;}
	
	.blocks div ul { margin-left:6px; margin-bottom:30px;}
	
	.blocks2 { overflow:hidden; width:100%;}
	.blocks2 .inner { padding:0px 0px 15px 0px;}
	.blocks2 div.list, .blocks2 div.list2 { float:left; width:200px;}
	.blocks2 div.list3 { width:170px; float:left;}
	.blocks2 div ul { margin-left:6px;}
	
	.events { width:100%; overflow:hidden; padding-bottom:20px;}
	.events .list { float:left; width:288px;}
	
	.list-col { float:left; margin-right:10px;}
	
	.aboutus .columns { width:100%; overflow:hidden;}
	.aboutus .column-left { width:45%; float:left; margin:0px 0px 0px 0px;}
	.aboutus .column-right { width:45%; float:right; margin:0px 0px 0px 0px; background: none;}
	.aboutus span { font-weight:bold; font-size:12px !important; color:!important;}
	
	.solutions .list-left { float:left; margin-right:20px;}
	
	.links-content .columns { width:100%; overflow:hidden; padding-bottom:20px;}
	.links-content .column-left { width:45%; float:left; margin:0px 0px 0px 0px;}
	.links-content .column-right { width:45%; float:right; margin:0px 0px 0px 0px; background: none;}
	
	.services .columns { width:100%; overflow:hidden; padding-bottom:20px;}
	.services .column-left { width:40%; float:left; margin:0px 0px 0px 0px; background: none;}
	.services .column-right { width:55%; float:right; margin:0px 0px 0px 0px; background: none;}
	
	.faq span { font-weight:bold; font-size:14px !important;}
	
	/*.links-indent { padding:4px 0px 0px 0px; overflow:hidden;}
	.links-indent ul.links li { float:left; padding-right:20px; padding-left:0;}
	.links-indent ul.links li a { display:block; text-decoration:underline !important; font-size:11px; font-weight:normal; color:#37a2b2;}
	.links-indent ul.links li a:hover { text-decoration:none !important; color:#000;}*/

/**************---TITLES---**************/
	/*h1 { color:#444b4e; font-size:18px; font-weight:normal;}
	h1.title { background:none; font-size:17px;}
	h1.title a {color:#394064; text-decoration:none; font-size:20px; line-height:normal; font-weight:normal; text-transform:none;}
	h1.title a:hover{text-decoration:underline; color:#1b7ab7;}
	
	h2 { font-size:22px; color:#000; padding:10px 0px 7px 0px; text-transform:capitalize; width:100%; font-weight:normal;}
	h2.with-tabs { padding-left:0px; padding-top:10px;}
	
	.block h2 { display:block; border-bottom:#bcbcbc 1px solid; color:#444b4e; font-size:12px;
	line-height:22px; margin:0; margin-top:5px; margin-bottom:10px; padding:0;}
	
	h3 { color:#424242; padding:5px 0px;}
	h3 a {color:#424242; text-decoration:none;}

	.block .title { padding:0; width:100%;}
	.title h3 { color:#394064; font-size:16px; font-weight:normal; padding:13px 0px 12px 28px; background:#d5f4f8}
	
	
	
	.submit { padding:7px 0px 13px 0px; overflow:hidden;}
	.submitted, .submit .submitted{ color:#d36d00; font-size:11px; line-height:normal; font-weight:bold;}
	.submitted a { color:#37a2b2;}*/
	
	.admin-panel {}
	.admin-panel h3 { color:#fff; font-size:15px; padding:0px 0px 4px 0px;}
	div.admin-panel .body { padding:0px 0px 0px 0px;}
	.admin-panel .body ul.menu li { list-style: none; list-style-image: none; line-height:1.4em;}
	.admin-panel .body ul.menu li a { font-size:12px;}
/***************/
	.comment { clear:both; padding:0px 0px 0px 0px; overflow:hidden; height:100%; margin:10px 0px 0px 0px;}
	.comment h3 { background:none; color:#3e3e3e; font-weight: normal; padding:0px 0px 0px 0px;}
	.comment h3 a { /*color:#fff;*/ font-size:18px; text-decoration:none;}
	.comment .title { padding:0px 0px 5px 0px; margin:0px 0px 0px 0px; background: none;}
	.comment .submitted { font-size:12px; /*color:#fff;*/}
	.comment .submitted a {}
	.comment .content-text { font-size:12px;/*color:#fff;*/ line-height:1.3em; padding:6px 20px 10px 0px;}
	.comment .links { padding:0px 10px 0px 0px;}
	.comment .links a { /*color:#fff;*/}
	
	.comment-published { background: none; border:1px solid #3e3d2a; clear:both; margin:15px 20px 6px 30px; background:#000;}
	.comment-published { padding:10px 10px 20px 20px;}
	.comment-published h3 { color:#fff;}
	.comment-published h3 a { color:#fff;}
	.comment-published .submitted { color:#fff;}
	.comment-published .content-text { color:#fff;}
	.comment-published .links a { /*color:#fff;*/}
	
	#menu-overview a { color:;}
	
	
/*** POLL ***/
	.poll .percent, .poll .text { font-size:13px;}
	.poll .title { color:; font-size:13px; font-weight:normal; padding-bottom:10px; background:none; padding-left:0px; border:0;}
	.poll .total { font-weight:normal; color:; font-size:12px; text-align:left; padding:0px 0px 10px 0px;}
	.poll .bar {background:#1b1b1b; font-size:1px; height:7px; border:0; padding:1px;}
	.poll .bar .foreground { background:#284898; font-size:1px; height:7px;}
	
	.column-right #poll-view-voting { text-align:left; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
	.column-right #poll-view-voting .poll .vote-form { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
	
	.poll { text-align:left; overflow:hidden; height:100%; padding:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
	.poll .vote-form { text-align:left; margin:0; padding:0px 0px 0px 0px;}
	
	.block-poll div.links {float: none;height:100%; width: auto; padding:0px 0px 0px 0px;  margin:0px 0px 0px -6px;}
	.block-poll div.links ul { float: none; height:100%;}
	.block-poll div.links ul li { display:block; clear:both; float: none;height:100%;}
	.block-poll div.links ul li a {}
	
	#block-poll-0 { overflow:hidden; height:100%;}
	#block-poll-0 ul { }
	#block-poll-0 li{ background:none; padding:0;}
	
	#block-poll-0 ul.links { /*float: left;*/ padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;width:auto;}
	#block-poll-0 ul.links li { clear:both; background:none; border:0; /*float:left;*/ padding:0px 0px 3px 0px; background:none; text-align:left; width:auto; margin:0px 0px 0px 0px;}
	#block-poll-0 ul.links li a {  /*float: left;*/ color: #fff margin:0px 0px 0px 0px;  padding:2px 0px 0px 7px; font-weight:bold; width:auto; font-size:12px; background:none; text-decoration:underline;}
	#block-poll-0 ul.links li a:hover { text-decoration: none;}
	
	#block-poll-0 .bar { background:#1b1b1b; font-size:1px; height:7px; border:0; padding:1px;}
	#block-poll-0 .bar .foreground { background:#284898; font-size:1px; height:7px;}
	
	#block-poll-0 .percent, #block-poll-0 .text { font-size:12px; font-weight:normal; line-height:normal;}
	#block-poll-0 .poll .title { font-size:12px; font-weight:normal; padding-top:0px; background:none; padding-left:0px;}
	#block-poll-0 .total { font-weight:bold; font-size:12px;}
	
	
/*** Who's Online ***/
	/*#block-user-3 .content { font-size:12px; color:#000; font-weight:normal; padding:5px 10px 20px 20px;}
	#block-user-3 .item-list h3 { color:#000; font-size:14px; font-weight:normal; text-transform:none; padding-top:15px; padding-bottom:3px;}
	#block-user-3 .item-list ul { margin:0; padding:0;}
	#block-user-3 .item-list ul li{ list-style-image:none; list-style:none; margin:0; line-height:18px; }
	#block-user-3 .item-list ul li a{ color:#000; font-size:12px; font-weight:normal; text-decoration:underline;}
	#block-user-3 .item-list ul li a:hover { text-decoration:none;}
	#block-user-3 em { color:#000; font-weight:normal; font-size:13px;}*/
	
/*** -Recent blog posts--- ***/
	#block-blog-0 .item-list ul {}
	
	
/*** -Recent comments--- ***/
	#block-comment-0 .title h3 {}
	
	#block-comment-0 .item-list ul {}
	#block-comment-0 .item-list ul li { color:#fff; list-style-image:none; list-style:none; padding-bottom:15px;}
	#block-comment-0 .item-list ul li a { display:inherit; background: none; margin:0px 0px -11px 0px;}
	
	#block-comment-0 .item-list ul li {}
	

/*** Who's New ***/
	#block-user-2 .item-list ul { padding-left:0px;}
	#block-user-2 .item-list ul li { list-style-image:none; list-style:none; margin:0;}
	#block-user-2 .item-list ul li a {  font-weight:normal; text-decoration:underline;}
	#block-user-2 .item-list ul li a:hover { text-decoration:none;}
	
/*** Primary Links ***/
	#block-menu-primary-links .content ul.menu { padding:0px;}
	#block-menu-primary-links .content ul.menu li { background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
	#block-menu-primary-links .content ul.menu li a { font-size:12px; padding-left:12px; color:#fff; font-weight:bold; text-decoration:none;}
	#block-menu-primary-links .content ul.menu li a:hover{ text-decoration:underline; }

/*** SEARCH_BLOCK ***/
	
/*** New forum topics ***/
	#block-forum-1 {}
	
/*** Active forum topics ***/

/*** Languages ***/
	#block-locale-0 .content ul { padding-left:0px; margin-bottom:10px;}
	#block-locale-0 .content ul li{ /*background:none; padding:0px;*/ list-style-image:none; list-style:none; margin:0; line-height:20px;}
	#block-locale-0 .content ul li a{ padding-left:10px; color:#000; font-weight:normal; text-decoration:none; font-size:12px;}
	#block-locale-0 .content a:hover{ text-decoration:underline;}

/*** Syndicate ***/
	#block-node-0 { width:100%; overflow:hidden;}

/*** Secondary Links ***/

/*** Secondary Links ***/

/*** Admin-Panel List & Admin-Panel List without descriptions ***/

/*** LISTS ***/

/*---Paragraph Style---*/
	#cont-col .content p { padding-bottom:7px; padding-top:7px;}
	#cont-col .content blockquote { border:1px solid #7f7f7f; background:#f1f1f1; padding:5px; margin:10px 0px 10px 0px;}
	
	
	
	#profile-admin-overview ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
	#profile-admin-overview ul li a { background:url(images/a1.gif) no-repeat 0 5px; padding-left:10px; color:#505050; font-weight:normal;}
	#profile-admin-overview ul li a:hover{ text-decoration:none; color:#ce2a11;}
	
	.password-description ul {margin-left:5px;}
	.password-description ul li{ background:url(images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:12px;}
	
	#node-admin-content ul {margin-left:5px;}
	#node-admin-content  ul li{ background:url(images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:17px;}
	
	#comments { padding:10px 0px 0px 0px;}
	
	
	.taxonomy ul.links li a, #forum ul.links li a { color:#000; font-size:12px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
	

/*** END LIST ***/
	ul.primary, ul.primary li, ul.secondary, ul.secondary li{
	  border: 0;
	  padding:0px 0px 0px 0px;
	  margin:0px 0px 0px 0px;
	}
	
	ul.primary li a {
		border: 0;
	}
	
	.column-center #tabs-wrapper ul.primary li.active a {
		border:none;
		font-weight:bold;
	}
	.column-center #tabs-wrapper ul.primary li.active:hover { color:#fff; text-decoration:none;}
	
	.column-center #tabs-wrapper ul.tabs { padding:0px 0px 0px 0px;}
	.column-center #tabs-wrapper ul.tabs li	{
		display:block;
		padding:0px 11px 0px 0px; margin:0px 0px 0px 0px;
		float:left; overflow:hidden; height:100%;
	}
	
	.column-center #tabs-wrapper ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
	.column-center #tabs-wrapper ul.tabs li span {
		padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;
		display:block; float:left; overflow:hidden;
	}
	.column-center #tabs-wrapper ul.tabs li span span {
		margin:0px 0px 0px 0px;
	}
	
	.column-center #tabs-wrapper ul.tabs li a {
		font-size:14px;
		font-weight:normal; border:0;
		background: none;
		padding:6px 8px 7px 8px;
		margin:4px 0px 0px 0px;
		display:block; float:left; height:100%;
		text-decoration: none;
	}
	.column-center #tabs-wrapper ul.tabs li a:hover {
		/*color:#fff !important; */text-decoration: underline;
		border:none;
		}
	
	.column-center #tabs-wrapper ul.tabs li.active a { text-decoration:none; background:#284898; color:#fff; font-weight: normal;}
	
/*** GENERAL ***/
	.node {}
	.node .taxonomy { padding:0px 0px 0px 0px;}
	
	div.error { margin-top:5px;}
	
	.block-region { background:#d6e6cc; text-align:center; border:1px dashed #618749; color:#618749; margin:10px; clear:both;}
	
	div.admin .left { margin:0px;}
	#book-outline { min-width:0px;}
	#permissions, #blocks, #forum table, .sticky-enabled  { width:100%;}
	.node-unpublished { background:none;}
	
	.odd td { vertical-align:middle; padding-left:0px; line-height:18px; background:#252525; font-size:12px; padding:4px; color:#fff;}
	.even td { vertical-align:middle; padding-left:0px; line-height:18px; background:#191919; font-size:12px; padding:4px; color:#fff;}
	
	.profile h3 { border-bottom:1px solid #cfcdcd; /*color:#000;*/ font-size:20px; padding:0px 0px 5px 0px; margin:0px 0px 6px 0px;}
	
	img.alignleft{ float:left; margin-right:12px;}
	img.alignright{ float:right; margin-left:25px; margin-right:39px; margin-top:30px;}
	
	#first-time a { color:#508198; text-decoration:none}
	#first-time a:hover{  text-decoration:underline;}
	#first-time ol { margin-left:20px;}
	
	.theme-info { padding-left:px;}
	.theme-info h2 { color:#000; font-weight: bold; background: none; padding-left:0;}
	
	dl.admin-list { font-size:12px;}
	dl.admin-list a { color:;}
	.column-center dl.admin-list dd { padding:3px 0px 9px 0px; line-height:1.3em;}
	
	
	.node-type-list a { color:;}
	
	.column-center dl.node-type-list { padding:10px 0px 0px 3px;}
	.column-center dl.node-type-list dd { padding:5px 0px 8px 0px;}
	
	
	.node-type-list { font-size:13px;}
	.node-type-list dd { padding:4px 0px 4px 0px;}
	
	
	.collapse-processed a { color:;}
	
	/*.even a { color:#fff;}
	.blog a { color:;}
	.odd a { color:#fff;}*/

	.check-manually a{ color:;}
	
	.compact-link a {}
	.messages { padding:16px 0 16px 30px;}
	.messages a { color:#f30000; font-size:12px;}
	
	.sticky-table { line-height:24px; margin:0px 0px 10px 0px;}
	.more-help-link a { font-size:12px; font-weight: bold;}
	
	.help { font-size:12px; padding:3px 10px 0px 0px; line-height:1.3em;}
	.help a {}
	
	.help-items a{ color:#1ca0d1;}
	.help-items ul { list-style:none; line-height:18px;}
	
	.description a { color:;}
	
	.column-center .description { font-size:12px;}
	.column-center .description span { padding:10px 0px 0px 0px;}

/*** --- --- --- ***/
	#blocks tr.region-message { color:#9298a3;}
	
	/*#blocks td a { color:#fff;}*/
	
	.theme-info { padding-left:10px;}
	
	.box { padding:0px 0px 0px 12px;}
	/*.box h2.title { padding-left:0px; background:none;}
	
	.box div.links { background:none; padding:0px;}
	.box .bg-links, .box .links-left, .box .links-right { background:none;}*/
	
	/*#cont ul.links li { background:none;}*/
	
	#system-modules div { padding-bottom:10px;}
	
	#forum-confirm-delete a { color:#6d94ac;}
	
	.form-checkboxes { width:200px;}
	
	.search-form input { vertical-align:middle}
	
	.search-form .form-text { padding:5px 0px 6px 5px;}
	
	.search-form { overflow:hidden; height:100%;}
	.search-form label { padding:0px 0px 5px 3px;}
	.search-form #edit-keys-wrapper { float:left; padding:0px 0px 8px 5px; margin:0px 10px 0px 0px;}
	
	.search-form #edit-submit { *margin:2px 0px 0px 0px;}
	
	.search-form .criterion .form-text { margin:3px 0px 0px 18px;}
	.search-form .criterion #edit-category { margin:3px 0px 0px 18px;}
	
	dl .title { background:none; padding:0px;}
	
	ul.links li.comment_forbidden { padding:0px;}
	
	#comments { clear:both; width:100%;}
	
	 #node-form {clear:both;}
	
	.node-form { clear:both; overflow:hidden;}
	
	#comment-form { padding-bottom:20px; overflow:hidden; height:100%;}
	
	.preview .node { background:none;}
	
	#cont-col .content .comment_add a { color:#457299; text-transform:capitalize; font-weight:bold;}
	
	html.js fieldset.collapsible .fieldset-wrapper { width:100%; overflow:hidden;}
	
	.collapsible {}
	
	
	.search-advanced .action { float:none;}
	
	.leaf { clear:both; float:none;}
	

/*** Status Report ***/
	.system-status-report td { padding-left:5px; color:#000;}
	
	
	table.system-status-report tr.info th { color:#002200;}
	table.system-status-report tr.info td { color:#fff;}
	table.system-status-report tr.error th { color:#220000;}
	table.system-status-report tr.error { color:#000;}
	table.system-status-report tr.ok th { color:#002200;}
	table.system-status-report tr.warning th{ color:#222200;}
	
	table.system-status-report a { color:#777;}
	
	tr.merge-down { border-bottom:none;}
	tr.ok td { background:#DDFFDD;}
	tr.error td { background:#FFCCCC;}
	tr.warning td { background:#FFFFDD;}
	
/***  --- --- --- ***/
	.admin-panel dd { padding-bottom:10px;}
	
	div.admin-dependencies, div.admin-required { color:#666;}
	
	.admin-required span, span.admin-enabled { color:#555;}
	
	#block-admin-display-form div { overflow:hidden;}
	#block-admin-display-form #edit-submit { margin:6px 0px;}
	
	table.sticky-header { overflow:hidden; position:relative;}
	
	.content ul.pager { margin:16px 0px 5px 0px;}
	.content ul.pager li { border:1px solid #cbc9b8; padding:2px 5px; margin:0px 1px; color:#fff;}
	.content ul.pager li.pager-current,	.content ul.pager li:hover {}
	.content ul.pager li a {text-decoration:none; color:#fff;}
	.content ul.pager li a.active { color:#fff; font-weight: bold;}
	.content ul.pager li a:hover {}
	
	.text-box .poll .vote-form { text-align:left; margin:0; float:left;}
	
	.poll { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
	.poll .vote-form { text-align:left; margin:0; padding:0px 0px 0px 0px;}
	.choices { float:left; height:100%; text-align:left; margin:0 inherit; overflow:hidden; height:100%; }
	
	#edit-vote { clear:both;}
	.poll input { clear:both;}
	
	#block-system-0 .title { display: none;}
	
	
	.update td { color:#000;}
	.update td a { color:#000;}
	
	
/*==================================*/
	
		html.js fieldset.collapsible legend a { background:url(images/02.gif) no-repeat 0 0; background-position:3px 50%;}
		html.js fieldset.collapsed legend a { background:url(images/01.gif) no-repeat 0 0; background-position:3px 50%;}
		
.spacer {

	float:					right;

	overflow: 				hidden;

	padding: 				0 0px 10px 10px;

}

.LeftBlocVideo{

	float:					left;
	
	width: 					120px;

	overflow: 				hidden;

	padding: 				0 10px 10px 0px;

}

.blocVideo{

	overflow: 				hidden;
	
	height: 				105px;

	padding: 				0 10px 10px 0px;

}

.social-fb {}
.social-tw {}
.social-linkedin {}
.social-media {
	float:left; 
	display: inline;
	width: 700px;
	height: 40px;
	padding-left: 10px;
}



	